
<div class="container mt-5">
  <div class="col">
    <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pause-canap.com/media/wysiwyg/captain-america-2-scaled.jpg)">
        <%= link_to "#{list.name}", list_path(list) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
